body {
	margin: 0;
	padding: 0;
  	background: #f5f4fb;
	box-sizing: border-box;
	font-family: helvetica, monospace, luna;
	overflow-y: scroll;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .5rem;
}

.btn-link:hover {
	color: #363c99 !important;
	font: 18px bold;
	border: 2px solid #eee;
}

#separateCalendary {
  border: 1px solid #a7b7be;
}